.color {
    background: #121243;
    text-align: center;
}
.footer{
    background: #121243;
    color: white; 
    padding-top: 20px; 
    padding-bottom: 20px;
}
.back {
    background-image: url(https://websiterahouse.com/static/media/heroBg.935e634d44aae1f44ee3.png);
    width: 100%;
    min-height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    filter: brightness(90%);
}
.button {
    text-align: center;

}
.continue-btn {
    border: 1px solid rgb(217, 168, 26);
    padding: 10px 50px;
    border-radius: 15px;
    transition: all 300ms;

}
.image {
    background-image: url(./assets/images/girlpic.png);
    height: 600px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.dotted{
    background-image: url(./assets/images/dotted.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 60vh;
    right: 100px;
}